       ASSIGNMENT 1

 NAME: Kanchan Koirala
  level-3
  section'b'

Questoin no :1

In [1]:
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        print(i,end=" ")

2002 2009 2016 2023 2037 2044 2051 2058 2072 2079 2086 2093 2107 2114 2121 2128 2142 2149 2156 2163 2177 2184 2191 2198 2212 2219 2226 2233 2247 2254 2261 2268 2282 2289 2296 2303 2317 2324 2331 2338 2352 2359 2366 2373 2387 2394 2401 2408 2422 2429 2436 2443 2457 2464 2471 2478 2492 2499 2506 2513 2527 2534 2541 2548 2562 2569 2576 2583 2597 2604 2611 2618 2632 2639 2646 2653 2667 2674 2681 2688 2702 2709 2716 2723 2737 2744 2751 2758 2772 2779 2786 2793 2807 2814 2821 2828 2842 2849 2856 2863 2877 2884 2891 2898 2912 2919 2926 2933 2947 2954 2961 2968 2982 2989 2996 3003 3017 3024 3031 3038 3052 3059 3066 3073 3087 3094 3101 3108 3122 3129 3136 3143 3157 3164 3171 3178 3192 3199

Question no:2

In [2]:
def factorial(n):
   if n == 1:
       return n
   else:
       return n*factorial(n-1)
print(factorial(5))

120

Question no:3

In [3]:
def prog(number):
    empty={}
    for i in range(1,number+1):
        empty[i]=i*i
    return empty
print(prog(8))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Question no:4

In [5]:
string1=input("Enter your first string:")
string2=input(("Enter your second string:"))
if len(string1)>len(string2):
    print(string1)
elif len(string2)>len(string1):
    print(string2)
else:
    print(string1,string2)

Enter your first string:krishna
Enter your second string:kajal
krishna

Question no:5

In [6]:
def prog():
    empty={}
    for i in range(1,21):
        empty[i]=i**i
    return empty.values()
print(prog())

dict_values([1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000, 285311670611, 8916100448256, 302875106592253, 11112006825558016, 437893890380859375, 18446744073709551616, 827240261886336764177, 39346408075296537575424, 1978419655660313589123979, 104857600000000000000000000])

Questoin no:6

In [9]:
empty=[]
for i in range(1,21):
    empty.append(i**i)
print(empty)

[1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000, 285311670611, 8916100448256, 302875106592253, 11112006825558016, 437893890380859375, 18446744073709551616, 827240261886336764177, 39346408075296537575424, 1978419655660313589123979, 104857600000000000000000000]

Question no:7

In [10]:
empty=[]
for i in range(1,21):
    empty.append(i**i)

for j in range(15,20):
    print(empty[j])

18446744073709551616
827240261886336764177
39346408075296537575424
1978419655660313589123979
104857600000000000000000000

Question no:8

In [11]:
celsius_value=int(input("Enter the value of in Celsius format :"))
print(f"The value of {celsius_value}°C in Fahrenheit is {celsius_value*(9/5)+32}")

Enter the value of in Celsius format :100
The value of 100°C in Fahrenheit is 212.0

Question no:9

In [4]:
string=input()
my_numbers=[7,2,4,11,19,24,66,1,42,22,37,5,3,92,73]
if string=="even" or string=="EVEN" or string=="Even":
    for i in my_numbers:
        if i%2==0:
            print(i)
        else:
            pass
elif string=="Odd" or string=="ODD" or string=="Odd":
    for i in my_numbers:
        if i%2!=0:
            print(i)
        else:
            pass
else:
    print("Unknown Input!")

ODD
7
11
19
1
37
5
3
73

In [5]:
string=input()
my_numbers=[7,2,4,11,19,24,66,1,42,22,37,5,3,92,73]
if string=="even" or string=="EVEN" or string=="Even":
    for i in my_numbers:
        if i%2==0:
            print(i)
        else:
            pass
elif string=="Odd" or string=="ODD" or string=="Odd":
    for i in my_numbers:
        if i%2!=0:
            print(i)
        else:
            pass
else:
    print("Unknown Input!")

EVEN
2
4
24
66
42
22
92

In [6]:
string=input()
my_numbers=[7,2,4,11,19,24,66,1,42,22,37,5,3,92,73]
if string=="even" or string=="EVEN" or string=="Even":
    for i in my_numbers:
        if i%2==0:
            print(i)
        else:
            pass
elif string=="Odd" or string=="ODD" or string=="Odd":
    for i in my_numbers:
        if i%2!=0:
            print(i)
        else:
            pass
else:
    print("Unknown Input!")

abc
Unknown Input!

Question no:10

In [16]:
for i in range(1,21):
    if i%3==0 and i%5==0:
        print("Fizz Buzz")
    elif i%3==0:
        print("Fizz")
    elif i%5==0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz Buzz
16
17
Fizz
19
Buzz