ASSIGNMENT - 2

Name :kanchan koirala
BSc(hons)computing
section'b'

Question no.1

In [1]:
def square(a):
    return a,a**2

print(type(square(4)))
print(square(7))

<class 'tuple'>
(7, 49)

Question:2

In [18]:
def conc():
    str_1 = input("Enter first String:")
    str_2  =input("Enter second String:")
    return str_1+str_2

print(conc())

Enter first String:kajal
Enter second String:koirala
kajalkoirala

In [ ]:
Question:3

In [5]:
def num():
    number =int (input("Enter a number:"))
    
    if number%2==0:
        print("Even Number")
    
    else:
        print("Odd Number")
    return

num()

Enter a number:5
Odd Number

In [6]:
def num():
    number =int (input("Enter a number:"))
    
    if number%2==0:
        print("Even Number")
    
    else:
        print("Odd Number")
    return

num()

Enter a number:8
Even Number

In [ ]:
Question no:4

In [4]:
def func():
    num={}
    for i in range(1,21):
        num[i]=i**2
    return num

print(func())

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [ ]:
Question:5

In [5]:
def squ_root():
    number=float(input("Enter a number:"))
    
    if number<0:
        print("Error")
    
    else:
        print(number**(1/2))
    return 


squ_root()

Enter a number:6
2.449489742783178

In [9]:
def squ_root():
    number=int(input("Enter a number:"))
    
    if number<0:
        print("Error")
    
    else:
        print(number**(1/2))
    return 


squ_root()

Enter a number:-4
Error

Question:6

In [1]:
def compl():
    name_list =["Dan Mace", "Connor Meyer", "Adam Smith", "John Watson"]
    number_list = [98980000, 777890879, 123087699, 960008779]
    output_list=[]
    output_list = [(name_list[i], number_list[i]) for i in range(0, len(name_list))]
    return output_list
print(compl())

[('Dan Mace', 98980000), ('Connor Meyer', 777890879), ('Adam Smith', 123087699), ('John Watson', 960008779)]

Question:7

In [3]:
root_tuple = (1,2,3,4,5,6,7,8,9,10)
tp1 = root_tuple[:5]
tp2 = root_tuple[5:]

print(tp1)
print(tp2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

Question:8

In [6]:
student_username = ["ksmith", "rsouza", "lgarber", "aghods", "shassan", "proy"]

for index in range(len(student_username)):

    print(student_username[index]+"@thebritishcollege.edu.np")

ksmith@thebritishcollege.edu.np
rsouza@thebritishcollege.edu.np
lgarber@thebritishcollege.edu.np
aghods@thebritishcollege.edu.np
shassan@thebritishcollege.edu.np
proy@thebritishcollege.edu.np

Question no:9

In [26]:
name_list = [ ("Dan Mace", 98980000), ("Connor Meyer", 777890879), ("Adam Smith",123087699), ("John Watson", 960008779) ]

i=0
while i <len(name_list):
    print('name:{0}\nContact no:{1}'.format(*name_list[i]))
    i+=1

name:Dan Mace
Contact no:98980000
name:Connor Meyer
Contact no:777890879
name:Adam Smith
Contact no:123087699
name:John Watson
Contact no:960008779

Question no:10

In [28]:
def Convert(iterable):
    return {a:b for a, b in iterable}

name_list = [("Dan Mace", 98980000), ("Connor Meyer", 777890879), ("Adam Smith", 123087699), ("John Watson", 960008779)]
print (Convert(name_list))

{'Dan Mace': 98980000, 'Connor Meyer': 777890879, 'Adam Smith': 123087699, 'John Watson': 960008779}

Question no:11

In [33]:
def func():
    input_str = 'If you count the words in this sentence you will get twelve'
    print(len(input_str.split()))
func()

12

Question no:12

In [1]:
a=int(input("Enter the terms:"))
f=1                                       
s=1
if a<=0:
    print("The requested series is",f)
else:
    print(f,s,end=" ")
    for x in range(2,a):
        next=f+s                           
        print(next,end=" ")
        f=s
        s=next

Enter the terms:7
1 1 2 3 5 8 13

In [2]:
a=int(input("Enter the terms:"))
f=1                                       
s=1
if a<=0:
    print("The requested series is",f)
else:
    print(f,s,end=" ")
    for x in range(2,a):
        next=f+s                           
        print(next,end=" ")
        f=s
        s=next

Enter the terms:9
1 1 2 3 5 8 13 21 34

Question no:13

In [3]:
user1 = input("What do you want to choose rock, paper or scissors in lowercase?")
user2 = input("What do  you want to choose rock, paper or scissors in lowercase?")
def compare(odr1, odr2):
    if odr1 == odr2:
        return("It's a tie!")
    elif odr1 == 'rock':
        if odr2 == 'scissors':
            return("Rock wins!")
        else:
            return("Paper wins!")
    elif odr1 == 'scissors':
        if odr2 == 'paper':
            return("Scissors win!")
        else:
            return("Rock wins!")
    elif odr1 == 'paper':
        if odr2 == 'rock':
            return("Paper wins!")
        else:
            return("Scissors win!")
    else:
        return("Invalid input! You have not entered rock, paper or scissors, try again.")

print(compare(user1,user2))

What do you want to choose rock, paper or scissors in lowercase?scissors
What do  you want to choose rock, paper or scissors in lowercase?rock
Rock wins!

Question no:14

In [4]:
for i in range(1,10):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

Question no:15

In [5]:
items=[n for n in input().split('-')]
items.sort()
print('-'.join(items))

s-i-t-c-o-m
c-i-m-o-s-t